@model IEnumerable<NapMap.Models.Marker>

@{
    ViewData["Title"] = "Markers Table";
    Layout = "_Layout";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Latitude</th>
            <th>Longitude</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var marker in Model)
        {
                <tr>
                    <td>@marker.Id</td>
                    <td>@marker.Title</td>
                    <td>@marker.Latitude</td>
                    <td>@marker.Longitude</td>
                </tr>
        }
    </tbody>
</table>
